{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- Nested Row within Card Body -->
<center>
    <div class="col-lg-6">
        <div class="p-5">
            <div style="margin-right:2px;">
                <!--<img src="{% static 'img/car-logo11.png' %}" width="400px" height="50px">-->
                <h1>Welcome back</h1>
            </div>
            <hr>

            <br>
            <form class="user" method="POST" action="{% url 'chart' %}">
                {% csrf_token %}
                <!-- search for name car -->
                <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="name_car"
                         placeholder="Search by name..."  autocomplete="off"> <!--  -->
                </div>
                <!-- search for model car -->
                <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="model"
                         placeholder="Search by model..." autocomplete="off">
                </div>

                <!-- search for min and max price -->
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" name="min_price"
                            placeholder="Min price" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" name="max_price"
                            placeholder="Max price" autocomplete="off">
                    </div>
                </div>

                <!-- search for city car -->
                <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="city"
                         placeholder="Search by city..." autocomplete="off">
                </div>

                <!-- search for 'boite a vitesse' car -->
                <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="boite_a_vitesse"
                         placeholder="Search by boite a vitesse..." autocomplete="off">
                </div>

                <!-- submit -->
                <button  type="submit" class="btn btn-primary btn-user btn-block">
                    <i class="fa fa-search"></i>
                        Search
                </button>
            </form>
        </div>
    </div>
</center>
{% endblock %}